.volume/
localstak/
terraform/localstack/.terraform
terraform/localstack/.terraform.lock.hcl
terraform/localstack/terraform.tfstate
terraform/localstack/terraform.tfstate.backup
terraform/localstack/.env
